/*------------------------------------------------------------------------------------------------------------------------
 
 @package: Sadaka
 @author: Ouarmedia/Farouk BLALOU
 @version: 1.0
 
 --------------------------------------------------------------------------------------------------------------------- */


/* =============================================================================
  Base
========================================================================== */

body {
    font-family: sans-serif;
    color: #0d0d0e;
}

h1,
h2,
h3,
h4 {
    font-family: sans-serif;
}

a {
    color: inherit;
    border-radius: 10px;
}

a:hover,
a:focus,
a:active {
    color: inherit;
}


/* =============================================================================
  Layout
========================================================================== */


/* Header 
================================= */

.navbar-main {
    margin-bottom: 0;
    color: #fff;
    background: #04f140e5;
}

.navbar-main .navbar-brand {
    border-bottom: none !important;
}

.navbar-main a:hover,
.navbar-main a:active,
.navbar-main a:focus,
.navbar-main a.is-active {
    background: none !important;
    color: inherit;
    border-bottom: 2px solid #fff;
}

.navbar-main li a {
    font-family: sans-serif;
    font-size: 16px;
    padding: 20px 15px;
    border-bottom: 2px solid transparent;
}

.navbar-main .icon-bar {
    background: #fff;
}


/* Home 
================================= */

.section-home {
    margin: 30px 0;
}

#JumButton {
    border-radius: 10px;
    background-color: #04f13f49;
}

#JumButton:hover {
    border-radius: 15px;
    background-color: #04f140e5;
    color: #fff;
}


/* home/ about-us 
================================= */

.about-us {
    margin: 30px 0;
}

.about-us-col {
    height: 325px;
    padding: 25px;
    text-align: center;
    background-color: #04f140e5;
    background-image: url('/assets/images/fantasy.jpg');
    background-size: 100%;
    background-image: -moz-linear-gradient(290deg, #04f140e5 -25%, #04f140e5 50%, #04f140e5 125%);
    background-image: -webkit-linear-gradient(290deg, #04f140e5 -25%, #1290f8 50%, #04f140e5 125%);
    background-image: linear-gradient(160deg, #115b9b -25%, #04f140e5 50%, #115b9b 125%);
    color: #fff;
}

.about-us-col .col-icon-wrapper {
    min-height: 80px;
}

.about-us-col .col-title {
    text-transform: uppercase;
}

.about-us-col .col-details {
    text-align: justify;
    margin-bottom: 25px;
    min-height: 80px;
}


/* home/reasons 
================================= */

.home-reasons {
    margin: 25px 0;
}

.reasons-col {
    position: relative;
    overflow: hidden;
}

.reasons-col img {
    width: 100%;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}

.reasons-col .reasons-titles {
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #04f140e5;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    height: 125px;
    padding: 25px 0;
}

.reasons-col .reasons-title {
    font-weight: bold;
}

.reasons-col .on-hover {
    position: absolute;
    top: 0;
    bottom: 125px;
    width: 100%;
    padding: 25px;
    color: #fff;
    text-align: justify;
    background: #04f13f9c;
    border-bottom: 1px solid #fff;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}

.reasons-col:hover .on-hover {
    visibility: visible;
    opacity: 1;
    padding: 50px;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    -webkit-transition: all, 1s;
    transition: all, 1s;
}

.reasons-col:hover img {
    -moz-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
    -webkit-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
    transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
}


/* footer 
================================= */

.footer-top {
    background: #04f104e5;
    height: 40px;
}

.main-footer {
    background: #115c9b;
    color: #fff;
}

.main-footer .footer-main {
    padding: 30px 0;
}

.main-footer .footer-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-footer .footer-title .title-under {
    background: #fff;
    margin: 15px 0;
    text-align: left;
}

.main-footer .footer-title .title-under:after {
    margin: 0;
    background: #fff;
}

.main-footer .footer-content {
    text-align: justify;
    font-size: 13px;
}

.main-footer .tweet {
    font-size: 13px;
}

.main-footer .tweet:after {
    content: "";
    height: 1px;
    display: block;
    background: #115c9b;
    width: 150px;
    margin: 15px auto;
}

.main-footer .tweet:last-child:after {
    display: none;
}

.footer-bottom {
    background: #115c9b;
    padding: 3px;
}

.footer-form .form-group {
    margin-bottom: 5px;
}

.footer-form .form-control {
    background: #115c9b;
    color: #fff;
    border: 0;
    border-radius: 0;
    margin-bottom: 5px;
    border: 1px solid #fff;
    resize: none;
}

.footer-form .btn-submit {
    border-radius: 0;
    background: #115c9b;
    text-transform: uppercase;
    border: 1px solid #fff;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}

.footer-form .btn-submit:hover {
    background: #fff;
}

.footer-form input:-moz-placeholder,
.footer-form textarea:-moz-placeholder {
    color: #fff;
}

.footer-form input::-moz-placeholder,
.footer-form textarea::-moz-placeholder {
    color: #fff;
}

.footer-form input:-ms-input-placeholder,
.footer-form textarea:-ms-input-placeholder {
    color: #fff;
}

.footer-form input::-webkit-input-placeholder,
.footer-form textarea::-webkit-input-placeholder {
    color: #fff;
}


/* Tabs
================================= */

.nav-tabs {
    border-bottom-color: #1f76bd;
    margin-bottom: 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background: #1f76bd;
    color: #fff;
}

.nav-tabs>li>a {
    border-radius: 0;
}

.nav-tabs>li>a:hover {
    border-color: #1f76bd #1f76bd #1f76bd #115c9b;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: #115c9b;
    color: #fff;
}


/* =============================================================================
	Responsive
========================================================================== */


/* Large devices (large desktops, 1200px and Down) */

@media (max-width: 1200px) {
    .about-us-col {
        padding: 15px;
    }
    .reasons-col:hover .on-hover {
        padding: 15px;
    }
    .reasons-col:hover .on-hover {
        padding: 25px;
    }
}


/* Medium devices (desktops, 992px and Donw) */

@media (max-width: 992px) {
    .carousel-home .carousel-title {
        font-size: 36px;
    }
    .carousel-home .carousel-subtitle {
        font-size: 18px;
    }
    .carousel-home .btn {
        margin-top: 15px;
    }
    .about-us-col {
        margin-bottom: 25px;
    }
    .team-member {
        margin-bottom: 25px;
    }
    .reasons-col {
        margin-bottom: 25px;
    }
    .footer-col {
        margin-bottom: 50px;
    }
}


/* Small devices (tablets, 768px and Down) */

@media (max-width: 768px) {
    .header-contact {
        text-align: center;
    }
    .header-contact li {
        margin: 0 !important;
    }
    .header-social {
        text-align: center;
    }
    .navbar-main #navbar {
        float: none !important;
    }
    .navbar-main #navbar a {
        border-bottom: none;
    }
    .navbar-main .navbar-brand {
        padding: 6px 15px;
    }
    .navbar-main .submenu {
        position: initial;
        display: none;
        width: 100%;
    }
    .navbar-main li:hover .submenu,
    .navbar-main li:active .submenu,
    .navbar-main li:focus .submenu {
        display: block;
    }
    .navbar-main li:hover .submenu li,
    .navbar-main li:active .submenu li,
    .navbar-main li:focus .submenu li {
        background: #115c9b;
        border-top-color: #1f76bd;
    }
    .carousel-home .carousel-title {
        font-size: 32px;
    }
    .carousel-home .carousel-subtitle {
        font-size: 16px;
    }
    .carousel-home .carousel-control {
        background: #1f76bd;
        height: 40px;
        width: 20px;
        top: 50%;
        margin-top: -20px;
    }
    .carousel-home .carousel-control .fa {
        font-size: 1.5em;
        padding-top: 4px;
    }
    .col-form {
        margin-bottom: 25px;
    }
}


/* Extra Small devices (tablets, 480px and Down) */

@media (max-width: 480px) {
    .carousel-home .carousel-title {
        font-size: 16px;
        margin: 0;
    }
    .carousel-home .carousel-subtitle {
        font-size: 14px;
        margin: 0;
    }
    .carousel-home .carousel-indicators {
        bottom: 0;
    }
}


/* =============================================================================
	Animations
========================================================================== */

.animate-onscroll {
    visibility: hidden;
}

.animated {
    visibility: visible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.slow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.animated.fadeIn {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.label {
    color: rgb(12, 12, 12);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contain {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}